

header.container-top{
  width: 90%;
  height: 100px;
  background-color: $boxes-color;
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 10%;
  border-radius: 32px;

  .devPhoto{
    margin-left: 5%;
    border-radius: 16px;
    width: 75px;
    height: 75px;
  }

  .devInfos{
    color: $text-color;
    padding-left: 3%;
  }
}