@import './components/sass/color';
@import './components/sass/fonts';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background-color: $card-color;
}

.detailLetter{
  color: $details;
}

.layout2x2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%
}

@import './components/Header/header';
@import './components/Portfolio/portfolio';
@import './components/MediaCard/media';
@import './components/LastProject/last';
@import './components/MusicCard/music';
