@import './components/sass/color';
@import './components/sass/fonts';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background-color: $card-color;
}

.detailLetter{
  color: $details;
}

@import './components/Header/header';
@import './components/Portfolio/portfolio';
@import './components/MediaCard/media';
